{% extends 'base.html' %}

{% block content %}
    {% if status %}
    <div class="container" style="text-align: center;">
        <i class="fa fa-check-circle" aria-hidden="true" style= "font-size: 80px; color: green;"></i> 
        <h2>Thank you!!, Your Payment was Successful.</h2>
    </div>
    {% else %}
        <h2 style="text-align: center;">Your Payment is Failed! Try Again.</h2>
    {% endif %}
    <div class="text-center mt-5">
        <a href="{% url 'coffee-payment' %}" class="btn btn-primary" role="button">Buy another one</a>
    </div>
    {% endblock %}